.chatBox {
  margin-top: 10px;
  width: 100%;
  height: 370px;
  background-color: #d3d3d32a;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.message {
  width: 95%;
  margin: 8px auto;
  background-color: #d3d3d3;
  box-shadow: 2px 2px 5px rgb(182, 182, 182);
  border-radius: 12px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}